.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    z-index: 1000;
    justify-content: space-between;

}


.home-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fbbf24;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-circle:hover {
  transform: scale(1.05);
}

.home-icon {
  width: 46px;
  height: 46px;
}

.profile-button{
  height: 48px;
  min-width: 104px;
  border: 2px solid black;
  border-radius: 6px;
  background: gray;
  display: flex;
  padding: 8px 16px 8px 16px;
  align-items:center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-button:hover{
  transform: scale(1.05);
}

.profile-text {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.profile-circle{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fbbf24;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  width: 34px;
  height: 34px;
}